@font-face {
    font-family: 'georgia';
    font-weight: 400;
    src: url('../Fonts/georgia.ttf') format('truetype');
}
@font-face {
    font-family: 'georgia-b';
    font-weight: 700;
    src: url('../Fonts/georgiab.ttf') format('truetype');
}
@font-face {
    font-family: 'georgia-i';
    font-weight: 400;
    font-style: italic;
    src: url('../Fonts/georgiai.ttf') format('truetype');
}
@font-face {
    font-family: 'georgia-z';
    font-weight: 700;
    font-style: italic;
    src: url('../Fonts/georgiaz.ttf') format('truetype');
}

@font-face {
    font-family: 'lato';
    font-weight: 400;
    src: url('../Fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'lato-b';
    font-weight: 700;
    src: url('../Fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'lato-i';
    font-weight: 400;
    font-style: italic;
    src: url('../Fonts/Lato-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'lato-z';
    font-weight: 700;
    font-style: italic;
    src: url('../Fonts/Lato-BoldItalic.ttf') format('truetype');
}

body {
    font-family: lato;
    color: #4a4a4a;
}

header nav div a #logo {
    width: 40% !important;
}
header nav div h2 {
    font-size: 90% !important;
    font-family: gorgia-b;
}
header nav div div form {
    width: 80% !important;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    header nav div a #logo {
        width: 50% !important;
    }
    header nav div h2 {
        font-size: 110% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    header nav div a #logo {
        width: 60% !important;
    }
    header nav div h2 {
        font-size: 150% !important;
    }
    header nav div div form {
        width: 60% !important;
    }
}

@media screen and (min-width: 1200px) {
    header nav div a #logo {
        width: 60% !important;
    }
    header nav div h2 {
        font-size: 150% !important;
    }
    header nav div div form {
        max-width: 720px !important;
    }
}